extends layout

block content
  h1 #{title} API
  p Welcome to #{title} API
  table
    thead
      tr
        th Service Name
        th Path
    tbody
      tr
        td Users
        td
          a(href='./users') /users
      tr
        td Posts
        td
          a(href='./posts') /posts
